In [100]:
import pandas as pd
import numpy as np 
import  matplotlib .pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [102]:
df=pd.read_csv("Travel.csv")

In [104]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [108]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [110]:
df.shape

(4888, 20)

# FEATURE 
HANDLING MISSING VALUES
HANDLING DUPLICATES
CHECK DATATYPES
UNDERSTAND THE DATASET

In [112]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [114]:
df['CustomerID'].value_counts()

CustomerID
200000    1
203256    1
203263    1
203262    1
203261    1
         ..
201628    1
201627    1
201626    1
201625    1
204887    1
Name: count, Length: 4888, dtype: int64

In [116]:
df[ 'Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [118]:
df[ 'Gender']=df[ 'Gender'].replace('Fe Male','Female')

In [120]:
df[ 'MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [122]:
df[ 'MaritalStatus']=df[ 'MaritalStatus'].replace('Unmarried','Single')

In [124]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [126]:
features_with_na=[f for f in df.columns if df[f].isnull().sum()>=1]
for i in features_with_na:
    print(i,np.round(df[i].isnull().mean()*100,5),'% missing value')

Age 4.62357 % missing value
TypeofContact 0.51146 % missing value
DurationOfPitch 5.13502 % missing value
NumberOfFollowups 0.92062 % missing value
PreferredPropertyStar 0.53191 % missing value
NumberOfTrips 2.86416 % missing value
NumberOfChildrenVisiting 1.35025 % missing value
MonthlyIncome 4.76678 % missing value

In [128]:
df[features_with_na].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [130]:
df.TypeofContact.fillna(df.TypeofContact.mode()[0],inplace=True)
df.DurationOfPitch.fillna(df.DurationOfPitch.median(),inplace=True)
df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0],inplace=True)
df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0],inplace=True)
df.NumberOfTrips.fillna(df.NumberOfTrips.median(),inplace=True)
df.MonthlyIncome.fillna(df.MonthlyIncome.median(),inplace=True)
df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0],inplace=True)
df.Age.fillna(df.Age.median(),inplace=True)

In [132]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [134]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [136]:
df.drop('CustomerID',inplace=True,axis=1)

In [146]:
df['Total_visiting']=df['NumberOfChildrenVisiting']+df['NumberOfPersonVisiting']

In [147]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,Total_visiting
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [149]:
df.drop(columns=['NumberOfChildrenVisiting','NumberOfPersonVisiting'],inplace=True,axis=1)

In [151]:
num_features=[f for f in df.columns if df[f].dtype!='O']
print ("no of numerical features:",len(num_features))

no of numerical features: 12

In [153]:
cat_features=[f for f in df.columns if df[f].dtype=='O']
print ("no of categorical features:",len(cat_features))

no of categorical features: 6

In [154]:
discrete_features=[f for f in num_features if len(df[f].unique())<=25]
print ("no of discrete features:",len(discrete_features))

no of discrete features: 9

In [156]:
continious_features=[f for f in num_features  if f not in discrete_features]
print ("no of cont.  features:",len(continious_features))

no of cont.  features: 3

In [157]:
# categorical_features to numeric 
from sklearn.model_selection import train_test_split
x=df.drop(['ProdTaken'],axis=1)
y=df['ProdTaken']

In [159]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [163]:
x.head()

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,Total_visiting
0,41.0,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Single,1.0,1,2,1,Manager,20993.0,3.0
1,49.0,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,Manager,20130.0,5.0
2,37.0,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Single,7.0,1,3,0,Executive,17090.0,3.0
3,33.0,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Divorced,2.0,1,5,1,Executive,17909.0,3.0
4,36.0,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Divorced,1.0,0,5,1,Executive,18468.0,2.0

In [164]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [166]:
x_train

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,Designation,MonthlyIncome,Total_visiting
3995,36.0,Self Enquiry,1,7.0,Small Business,Male,5.0,Basic,3.0,Single,3.0,0,4,1,Executive,21537.0,3.0
2610,42.0,Self Enquiry,1,21.0,Salaried,Male,4.0,Basic,3.0,Married,6.0,0,4,1,Executive,21129.0,5.0
3083,50.0,Self Enquiry,1,7.0,Large Business,Female,4.0,Basic,5.0,Divorced,4.0,0,4,1,Executive,22258.0,4.0
3973,38.0,Self Enquiry,1,7.0,Salaried,Male,5.0,Deluxe,3.0,Married,3.0,0,5,0,Manager,24671.0,4.0
4044,44.0,Company Invited,1,35.0,Small Business,Female,2.0,Basic,3.0,Single,6.0,0,3,0,Executive,23417.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4426,28.0,Self Enquiry,1,10.0,Small Business,Male,5.0,Basic,3.0,Single,2.0,0,1,1,Executive,20723.0,5.0
466,41.0,Self Enquiry,3,8.0,Salaried,Female,3.0,Super Deluxe,5.0,Divorced,1.0,0,5,1,AVP,31595.0,4.0
3092,38.0,Company Invited,3,28.0,Small Business,Female,4.0,Basic,3.0,Divorced,7.0,0,2,1,Executive,21651.0,5.0
3772,28.0,Self Enquiry,3,30.0,Small Business,Female,5.0,Deluxe,3.0,Married,3.0,0,1,1,Manager,22218.0,5.0
860,22.0,Company Invited,1,9.0,Salaried,Male,4.0,Basic,3.0,Divorced,1.0,1,3,0,Executive,17853.0,2.0

In [167]:
cat_feature = x.select_dtypes(include=["object"]).columns
num_feature = x.select_dtypes(exclude=["object"]).columns

from sklearn .preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')
preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_feature),
        ("StandardScaler",numeric_transformer,num_feature)
    
    ]
)

In [170]:
x_train_transformed = preprocessor.fit_transform(x_train)

In [172]:
x_test_transformed = preprocessor.transform(x_test)

In [174]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,precision_score,recall_score,f1_score,roc_auc_score

from sklearn.tree import DecisionTreeClassifier

In [175]:

from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for col in x_train.columns:
    if x_train[col].dtype == 'object':
        le = LabelEncoder()
        x_train[col] = le.fit_transform(x_train[col])
        x_test[col] = le.transform(x_test[col])  # same encoder for test
        label_encoders[col] = le

In [177]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
models = {
    "Logistic Regression":LogisticRegression(),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train)
    
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    
    x_train_accuracy = accuracy_score(y_train, y_train_pred)
    x_train_confusion = confusion_matrix(y_train, y_train_pred)
    x_train_class_report = classification_report(y_train, y_train_pred)
    x_train_precision = precision_score(y_train, y_train_pred, average='weighted')
    x_train_recall = recall_score(y_train, y_train_pred, average='weighted')
    x_train_f1 = f1_score(y_train, y_train_pred, average='weighted')

    x_test_accuracy = accuracy_score(y_test, y_test_pred)
    x_test_confusion = confusion_matrix(y_test, y_test_pred)
    x_test_class_report = classification_report(y_test, y_test_pred)
    x_test_precision = precision_score(y_test, y_test_pred, average='weighted')
    x_test_recall = recall_score(y_test, y_test_pred, average='weighted')
    x_test_f1 = f1_score(y_test, y_test_pred, average='weighted')
    
    print(f"\nModel: {list(models.keys())[i]}")
    print("=== Training Set Performance ===")
    print(f"Accuracy: {x_train_accuracy}")
    print(f"Precision: {x_train_precision}")
    print(f"Recall: {x_train_recall}")
    print(f"F1 Score: {x_train_f1}")
    print("Confusion Matrix:\n", x_train_confusion)
    print("Classification Report:\n", x_train_class_report)

    print("=== Testing Set Performance ===")
    print(f"Accuracy: {x_test_accuracy}")
    print(f"Precision: {x_test_precision}")
    print(f"Recall: {x_test_recall}")
    print(f"F1 Score: {x_test_f1}")
    print("Confusion Matrix:\n", x_test_confusion)
    print("Classification Report:\n", x_test_class_report)

Model: Logistic Regression
=== Training Set Performance ===
Accuracy: 0.8355498721227621
Precision: 0.8176441809220107
Recall: 0.8355498721227621
F1 Score: 0.7958026008374537
Confusion Matrix:
 [[3121   60]
 [ 583  146]]
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.98      0.91      3181
           1       0.71      0.20      0.31       729

    accuracy                           0.84      3910
   macro avg       0.78      0.59      0.61      3910
weighted avg       0.82      0.84      0.80      3910

=== Testing Set Performance ===
Accuracy: 0.8312883435582822
Precision: 0.8157981208782114
Recall: 0.8312883435582822
F1 Score: 0.7928033524547478
Confusion Matrix:
 [[771  16]
 [149  42]]
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.98      0.90       787
           1       0.72      0.22      0.34       191

    accuracy                           0.83       978
   macro avg       0.78      0.60      0.62       978
weighted avg       0.82      0.83      0.79       978


Model: Decision Tree
=== Training Set Performance ===
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1 Score: 1.0
Confusion Matrix:
 [[3181    0]
 [   0  729]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3181
           1       1.00      1.00      1.00       729

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

=== Testing Set Performance ===
Accuracy: 0.9222903885480572
Precision: 0.9219911297791974
Recall: 0.9222903885480572
F1 Score: 0.9221351976996461
Confusion Matrix:
 [[750  37]
 [ 39 152]]
Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.95      0.95       787
           1       0.80      0.80      0.80       191

    accuracy                           0.92       978
   macro avg       0.88      0.87      0.88       978
weighted avg       0.92      0.92      0.92       978


Model: Random Forest
=== Training Set Performance ===
Accuracy: 1.0
Precision: 1.0
Recall: 1.0
F1 Score: 1.0
Confusion Matrix:
 [[3181    0]
 [   0  729]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3181
           1       1.00      1.00      1.00       729

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

=== Testing Set Performance ===
Accuracy: 0.9355828220858896
Precision: 0.937361179912527
Recall: 0.9355828220858896
F1 Score: 0.9314434086004779
Confusion Matrix:
 [[782   5]
 [ 58 133]]
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.99      0.96       787
           1       0.96      0.70      0.81       191

    accuracy                           0.94       978
   macro avg       0.95      0.84      0.88       978
weighted avg       0.94      0.94      0.93       978

In [179]:
# hyperparametrer training 
rf_params={"max_depth":[5,8,15,None,10],
           "max_feature":[5,7,"auto",8],
           "min_samples_split":[2,8,15,20],
           "n_estimators":[100,200,500,1000]}

In [181]:
random_cv_models=[
    ("RF",RandomForestClassifier(),rf_params)
]

In [183]:
from sklearn.model_selection import RandomizedSearchCV

In [184]:
model_params={}
for name, model,params in random_cv_models:
    random=RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    random.fit(x_train,y_train)
    model_params[name]=random.best_params_
for model_name in model_params:
    print(f"-----------------------Best Params for {model_name}-------------------")
    print(model_params[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits

ValueError: Invalid parameter 'max_feature' for estimator RandomForestClassifier(min_samples_split=20, n_estimators=500). Valid parameters are: ['bootstrap', 'ccp_alpha', 'class_weight', 'criterion', 'max_depth', 'max_features', 'max_leaf_nodes', 'max_samples', 'min_impurity_decrease', 'min_samples_leaf', 'min_samples_split', 'min_weight_fraction_leaf', 'monotonic_cst', 'n_estimators', 'n_jobs', 'oob_score', 'random_state', 'verbose', 'warm_start'].

In [187]:
models={
    "Random Forest": RandomForestClassifier(n_estimators=1000,min_samples_split=2,max_features=7,max_depth=15)
    
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train)
    
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    
    x_train_accuracy = accuracy_score(y_train, y_train_pred)
    x_train_confusion = confusion_matrix(y_train, y_train_pred)
    x_train_class_report = classification_report(y_train, y_train_pred)
    x_train_precision = precision_score(y_train, y_train_pred, average='weighted')
    x_train_recall = recall_score(y_train, y_train_pred, average='weighted')
    x_train_f1 = f1_score(y_train, y_train_pred, average='weighted')

    x_test_accuracy = accuracy_score(y_test, y_test_pred)
    x_test_confusion = confusion_matrix(y_test, y_test_pred)
    x_test_class_report = classification_report(y_test, y_test_pred)
    x_test_precision = precision_score(y_test, y_test_pred, average='weighted')
    x_test_recall = recall_score(y_test, y_test_pred, average='weighted')
    x_test_f1 = f1_score(y_test, y_test_pred, average='weighted')
    
    print(f"\nModel: {list(models.keys())[i]}")
    print("=== Training Set Performance ===")
    print(f"Accuracy: {x_train_accuracy}")
    print(f"Precision: {x_train_precision}")
    print(f"Recall: {x_train_recall}")
    print(f"F1 Score: {x_train_f1}")
    print("Confusion Matrix:\n", x_train_confusion)
    print("Classification Report:\n", x_train_class_report)

    print("=== Testing Set Performance ===")
    print(f"Accuracy: {x_test_accuracy}")
    print(f"Precision: {x_test_precision}")
    print(f"Recall: {x_test_recall}")
    print(f"F1 Score: {x_test_f1}")
    print("Confusion Matrix:\n", x_test_confusion)
    print("Classification Report:\n", x_test_class_report)

Model: Random Forest
=== Training Set Performance ===
Accuracy: 0.9994884910485934
Precision: 0.9994888124491282
Recall: 0.9994884910485934
F1 Score: 0.9994882201128855
Confusion Matrix:
 [[3181    0]
 [   2  727]]
Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      3181
           1       1.00      1.00      1.00       729

    accuracy                           1.00      3910
   macro avg       1.00      1.00      1.00      3910
weighted avg       1.00      1.00      1.00      3910

=== Testing Set Performance ===
Accuracy: 0.9335378323108384
Precision: 0.9345397064780785
Recall: 0.9335378323108384
F1 Score: 0.9294605798874328
Confusion Matrix:
 [[780   7]
 [ 58 133]]
Classification Report:
               precision    recall  f1-score   support

           0       0.93      0.99      0.96       787
           1       0.95      0.70      0.80       191

    accuracy                           0.93       978
   macro avg       0.94      0.84      0.88       978
weighted avg       0.93      0.93      0.93       978